<div>
    Header
    <nav>
        <ul>
            <li> <a [routerLink] = "['/']"  fragment="home"> Home </a></li>
            <li> <a [routerLink] = "['/']"  fragment="about"> About Us </a></li>
            <li> <a [routerLink] = "['/']"  fragment="products"> Products </a></li>
          <li> <a [routerLink] = "['/']"  fragment="contact"> Contact Us </a></li>
          <li> <a [routerLink] = "'#'"> 
            Sign in
            /
            Explore now </a></li>
        </ul>
    </nav>
</div>
<app-hero></app-hero>
<app-popular></app-popular>
<app-about></app-about>
<app-contact></app-contact>