<footer class='max-container'>
    <div class='flex justify-between items-start gap-20 flex-wrap max-lg:flex-col'>
      <div class='flex flex-col items-start'>
        <a href='/'>
          <img
            src='../../assets/images/footer-logo.svg'
            alt='logo'
            width=150
            height=46
            class='m-0'
          />
        </a>
        <p class='mt-6 text-base leading-7 font-montserrat  text-white text-white-400 sm:max-w-sm'>
          Get shoes ready for the new term at your nearest Nike store. Find
          Your perfect Size In Store. Get Rewards
        </p>
        <div class='flex items-center gap-5 mt-8'>
            <div *ngFor="let obj of socials"
              class='flex justify-center items-center w-12 h-12 bg-white rounded-full'
            >
              <img src={{obj.src}} alt={{obj.alt}} width=24 height=24 />
            </div>
        </div>
      </div>

      <div class='flex flex-1 justify-between lg:gap-10 gap-20 flex-wrap'>
          <div *ngFor="let obj of ftrLinks">
            <h4 class='font-montserrat text-white text-2xl leading-normal font-medium mb-'>
              {{obj.title}}
            </h4>
            <ng-container *ngFor="let o of obj.links">
                <ul>
                    <li
                      class='mt-3 font-montserrat text-white text-base leading-normal text-white-400 hover:text-slate-gray'
                    >
                      <a href={{o.link}}>{{o.name}}</a>
                    </li>
                </ul>
            </ng-container>
          </div>
      </div>
    </div>

    <div class='flex justify-between text-white-400 mt-24 max-sm:flex-col max-sm:items-center'>
      <div class='flex flex-1 justify-start items-center gap-2 font-montserrat text-white cursor-pointer'>
        <img
          src='../../assets/icons/copyright-sign.svg'
          alt='copyright sign'
          width=20
          height=20
          class='rounded-full m-0'
        />
        <p>Copyright. All rights reserved.</p>
      </div>
      <p class='font-montserrat text-white cursor-pointer'>Terms & Conditions</p>
    </div>
  </footer>