<section id="about" class="flex justify-between items-center max:lg:flex-col gap-10 
w-full max-contianer">
<div class="flex flex-1 flex-col">
    <h2 class='font-palanquin capitalize text-4xl lg:max-w-lg font-bold text-black'>
        We Provide You
        <span class='text-red-500'> Super </span>
        <span class='text-red-500'>Quality </span> Shoes
    </h2>
    <p class='mt-4 lg:max-w-lg  text-slate-gray text-lg leading-7'>
        Ensuring premium comfort and style, our meticulously crafted footwear
        is designed to elevate your experience, providing you with unmatched
        quality, innovation, and a touch of elegance.
      </p>
      <p class='mt-6 lg:max-w-lg text-slate-gray text-lg leading-7'>
        Our dedication to detail and excellence ensures your satisfaction
      </p>
      <div class="mt-11">
        <button class="flex justify-center items-center gap-2 px-7 py-4 border text-lg text-white leading-none rounded-full bg-red-500 border-red-500" >
            View Details </button>
      </div>
</div>
<div className='flex-1 flex justify-center items-center'>
    <img
      src='../../assets//images/shoe8.svg'
      alt='product detail'
      width=570
      height=522
      className='object-contain'
    />
  </div>
</section>