<section class="max-container">
<h3 class="font-palanquin text-black text-center text-4xl font-bold">
    What our
    <span class='text-red-500'>Customers</span>
    Say?
</h3>
<p class='m-auto mt-4 max-w-lg  text-center'>
    Hear genuine stories from our satisfied customers about their
    exceptional experiences with us.
  </p>
  <div class='mt-24 flex flex-1 justify-evenly items-center max-lg:flex-col gap-14'>
    <div *ngFor="let r of revs"class='flex justify-center items-center flex-col'>
        <img
          src={{r.imgURL}}
          alt='customer'
          class='rounded-full object-cover w-[120px] h-[120px]'
        />
        <p class='mt-6 max-w-sm text-center'>{{r.feedback}}</p>
        <div class='mt-3 flex justify-center items-center gap-2.5'>
          <img
            src='../../assets/icons/star.svg'
            width=24
            height=24
            alt='rating star'
            class='object-contain m-0'
          />
          <p class='text-xl font-montserrat text-slate-gray'>({{r.rating}})</p>
        </div>
        <h3 class='mt-1 font-palanquin text-black text-3xl text-center font-bold'>
          {{r.customerName}}
        </h3>
      </div>
  </div>
</section>
