<main className='relative'>
    <header class="padding-x py-8 z-10 w-full absolute">
        <nav class="flex justify-between items-center max-container">
            <a href="/"><img src="../../assets/images/header-logo.svg" alt="logo" width="130" height="29"/></a>
            <ul class="flex-1 flex justify-center items-center gap-16 max-lg:hidden">
                <li *ngFor="let nav of navs"> <a [routerLink] = "['/']"  fragment="{{nav.href}}"
                    class="font-montserrat leading-normal text-lg text-slate-gray"> {{nav.label}} </a></li>
            </ul>
            <div>
                <img src="../../assets/icons/hamburger.svg" alt="Humberger"  width="25" height="25" class="hidden max-lg:block"/>
            </div>
        </nav>
    </header>
    <section class="xl:padding-l wide:padding-r padding-b">
        <app-hero></app-hero>
    </section>
    <section class="padding">
        <app-popular></app-popular>
    </section>
    <section class='padding'>
        <app-about></app-about>
      </section>
     <section c='padding-x py-10'>
        <app-service></app-service>
      </section>
        
      <section class='padding'>
        <app-offer></app-offer>
      </section>
      <section class='bg-pale-blue padding'>
        <app-contact></app-contact>
      </section>
      <section class='padding-x sm:py-32 py-16 w-full'>
       <app-subscribe></app-subscribe>
      </section>
      <section class=' bg-black padding-x padding-t pb-8'>
       <app-footer></app-footer>
      </section>
    </main>
