<section class='flex justify-between items-center max-xl:flex-col-reverse gap-10 max-container'>
    <div class='flex-1'>
      <img
        src='../../assets/images/offer.svg'
        alt='Shoe Promotion'
        width=773
        height=687
        class='object-contain w-full'
      />
    </div>
    <div class='flex flex-1 flex-col'>
      <h2 class='text-4xl font-palanquin font-bold'>
        <span class='text-red-500'>Special </span>
        <span class="text-black">Offer</span>
      </h2>
      <p class='mt-4 '>
        Embark on a shopping journey that redefines your experience with
        unbeatable deals. From premier selections to incredible savings, we
        offer unparalleled value that sets us apart.
      </p>
      <p class='mt-6 '>
        Navigate a realm of possibilities designed to fulfill your unique
        desires, surpassing the loftiest expectations. Your journey with us is
        nothing short of exceptional.
      </p>
      <div class='mt-11 flex flex-wrap gap-4'>
        <button class="flex justify-center items-center gap-2 px-7 py-4 border text-lg text-white leading-none rounded-full bg-red-500 border-red-500" >
            Shop Now <img src="../../assets/icons/arrow-right.svg" alt="arrow-right" class="ml-2 rounded-full w-5 h-5"></button>
        
            <button class="bg-white border-slate-gray text-slate-gray" >
                Learn more </button>
            
      </div>
    </div>
  </section>