<section
      id='contact'
      class='max-container flex justify-between items-center max-lg:flex-col gap-10'
    >
      <h3 class='text-4xl leading-[68px] lg:max-w-md font-palanquin  text-black font-bold'>
        Sign Up for
        <span class='text-red-500'> Updates </span>& Newsletter
      </h3>
      <div class='lg:max-w-[40%] w-full flex items-center max-sm:flex-col gap-5 p-2.5 sm:border sm:border-slate-gray rounded-full'>
        <input type='text' placeholder='subscribe@nike.com' class='input' />
        <div class='flex  space-around max-sm:justify-between items-center max-sm:w-full'>
            <button class="gap-2 px-7 py-4 border text-lg text-white leading-none rounded-full bg-red-500 border-red-500" >
               Sign Up </button>
        </div>
      </div>
    </section>